#quiz-container {
    text-align: center;
    margin: 20px;
}

.choice-btn {
    margin: 5px;
    background-color: red; /*red boxes*/
    color: black;/*black text*/
}

#result-container {
    margin-top: 20px;
    
}

#timer {
    margin-top: 20px;
}

body{
    background-image: url(./mini\ project\ example.webp);
    height: 2000px;
    width: auto;/**/
    flex-wrap: wrap;
    color: red;
    padding-left: 200px;/*even though everything was centered i needede padding to get the text to not be layered pver the image i was useing*/
    
}

#start-btn{ /*# is how you target the html id class in css. Dont forget!*/
    background-color: red;
    color: black;
}

/*#question-container{
    color: red;
    display: contents; /*still having trouble getting questions to show up, try targeting the question container. CIRCLE BACK TO THIS CODE.
}*/

h2{ /*added this to add some space between the top and bottom for this section.*/
    padding-top: 250px;
    padding-bottom: 250px;
}

footer{
    text-align: center; /*centered footer text*/
    padding-top: 100px;
}

#save-score-btn{
    background-color: red;
    color: black;
}

#question{ /*tried using this code to target the questions to get them to appear. did not work as far as getting the questions to appear over all vs how they are going to look.*/
    color: red;
    font-family: cursive;
    font-size: small;
}