#quiz-container {
    text-align: center;
    margin: 20px;
}

.choice-btn {
    margin: 5px;
    background-color: red; /*red boxes*/
    color: black;/*black text*/
}

#result-container {
    margin-top: 20px;
    
}

#timer {
    margin-top: 20px;
}

body{
    background-image: url(./mini\ project\ example.webp);
    height: 2000px;
    width: auto;
    flex-wrap: wrap;
    color: red;
    padding-left: 200px;/*even though everything was centered i needede padding to get the text to not be layered pver the image i was useing*/
    
}

#start-btn{ /*# is how you target the html id class in css. Dont forget!*/
    background-color: red;
    color: black;
}

#question-container{
    color: red;
    display: contents; /*still having trouble getting questions to show up. CIRCLE BACK TO THIS CODE.*/
}

h2{
    padding-top: 250px;
    padding-bottom: 250px;
}

footer{
    text-align: center;
}

#save-score-btn{
    background-color: red;
    color: black;
}
#question{ /*tried uding this to target the questions*/
    color: red;
    font-family: cursive;
    font-size: small;
}